@model TournamentPlanner.Models.UserViewModel
@{
    ViewBag.Title = "Edit user";
}
<form asp-action="Edit" asp-controller="Users">
    <div class=row>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="col-md-4">
             <div class="form-group">
            <input type="hidden" asp-for="Id" />
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label">Email</label>
            <input type="text" asp-for="Email" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Year" class="control-label">Year</label>
            <input type="number" asp-for="Year" class="form-control" />
        </div>
        
           <div class="form-group">
                <a class="btn btn-sm btn-secondary" asp-action="ChangePassword" asp-route-id="@Model.Id">Change password</a>
            </div>
              <div class="form-group">
            <input type="submit" value="Save" class="btn btn-outline-secondary" />
          </div>
        </div>
        <div class="col-md-4">
           
        </div>
    </div>
</form>