@model IEnumerable<TournamentPlanner.DAL.Entities.User>
@{
    ViewBag.Title = "Список пользователей";
}
 
<a asp-action="Create">Create a new user</a>
 
<table class="table">
    <tr><th>Email</th><th>Year</th><th></th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.Year</td>
            <td>
                <form asp-action="Remove" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                    <button type="submit" action="Remove" class="btn btn-sm btn-danger">
                        Remove
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
