@model IEnumerable<TournamentPlanner.Models.PlayerViewModel>


<h4>Choose players</h4>
<hr />

<form method="post">
    @foreach (var item in Model)
    
    {
        <input name="AreChecked" type="checkbox" value="@item.Id"  /> @item.FirstName <br />
    }
    <button action="AddPlayersToClub">Click</button>
</form>


     