@model IEnumerable<TournamentPlanner.Models.PlayerViewModel>


<h4>Choose players</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <dt>
            @Html.Label("List of players without club:")
        </dt>
        <dd class = "col-sm-10">
            <hr />
            <table>
                <tbody>
                     @foreach (var item in Model)
                     {
                         <tr>
                            <td>
                                @Html.CheckBox("Id", isChecked:false)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            @*<td>
                                <a href="/Players/Details?id=@item.Id">Details</a>
                            </td>*@
                         </tr>
                     }
                </tbody>
            </table>
            <hr />
        </dd>
    </div>
</div>
     