<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
       @* details of Tournament *@
    </div>
    <div>
       @* details of Player *@
    </div>
    <div>
       @* Edit dropdown list Events of Tournament *@
    </div>
    <div>
       @* Submit btn *@
    </div>
</body>
</html>
